/* font-face {
    src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
    font-family: 'Suisse';
    font-weight: normal;
} */
html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat Alternates', sans-serif; }

.mn-wrap {
  width: 700px;
  max-width: 100%;
  padding-right: 36px;
  padding-left: 36px;
  margin: 0 auto; }

.body-procrastinate {
  background-color: #323131;
  background: -webkit-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #0840b9);
  background: -o-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #0840b9);
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #0840b9);
  background-size: 400% 400%;
  -webkit-animation: gradientBackground 15s ease infinite;
  animation: gradientBackground 15s ease infinite;
  color: white;
  position: relative;
  min-height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-hyphens: unset;
  -ms-hyphens: unset;
  hyphens: unset; }

@-webkit-keyframes gradientBackground {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header .logo {
    font-weight: bold;
    font-size: 24px;
    margin: 0; }

.main__box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 30px; }

.main .button {
  width: 130px;
  height: 40px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .main .button:hover {
    opacity: 0.5; }

.main .image {
  width: 300px;
  display: block;
  margin: 70px auto 60px; }

.main .advice {
  font-size: 42px;
  line-height: 1.1;
  margin-bottom: 70px; }

.footer {
  font-size: 16px; }
